#                      _                       
# _ __ ___   __ ___  _(_)_ __ ___  _   _ ___   
#| '_ ` _ \ / _` \ \/ / | '_ ` _ \| | | / __|  
#| | | | | | (_| |>  <| | | | | | | |_| \__ \_ 
#|_| |_| |_|\__,_/_/\_\_|_| |_| |_|\__,_|___(_)
#                                              
#

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
